*{
    margin: 0;
    padding: 0;
}

.zero{
    text-align: center;
    margin: 20px 0;

    color: brown;
}

hr{
    background-color: rgb(247, 0, 0);
    height: 3px;
    border: none;
}

.first{
    width: 400px;
    margin: auto;
}

.second{
    width: 300px;
    border: 1px solid lightslategray;
    border-radius: 10px;
    margin: 30px;
    padding: 15px;
    text-align: center;
}

.zero1{
    width: 100%;
    border-radius: 5px;
}

.third{
    margin-top: 7px;
    font-size: 25px;
}

.fourth{
    margin-top: 3px;
}

.fifth{
    margin-top: 15px;
    padding: 5px 20px;
    border: none;
    background-color: rgb(133, 136, 136);
    color: rgb(66, 0, 247);
    border-radius: 2px;
}


